.DS_Store

# ios
*.xcworkspace
xcuserdata

# android
build/android/gen
build/android/obj
build/android/bin
build/android/libs
build/android/assets
build/android/local.properties
build/android/.ant-targets-build.xml

# generated resource
res/package